<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>MeetBack 로그인</title>


    <script
            src="https://accounts.google.com/gsi/client"
            async
            defer>
    </script>

    <script
            src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7/bundles/stomp.umd.min.js">
    </script>

    <link rel="stylesheet"
          th:href="@{/css/login_test.css}">

</head>

<body>


<div class="login-container">

    <h1>
        MeetBack 로그인
    </h1>


    <!-- ============================================================
         일반 로그인
         ============================================================ -->

    <form id="loginForm">

        <div>

            <label for="email">
                이메일
            </label>

            <input
                    type="email"
                    id="email"
                    placeholder="이메일을 입력하세요"
                    autocomplete="email"
                    required>

        </div>


        <br>


        <div>

            <label for="password">
                비밀번호
            </label>

            <input
                    type="password"
                    id="password"
                    placeholder="비밀번호를 입력하세요"
                    autocomplete="current-password"
                    required>

        </div>


        <br>


        <div id="loginMessage">
        </div>


        <br>


        <button type="submit">
            로그인
        </button>

    </form>


    <br>


    <!-- ============================================================
         회원가입 / 아이디 찾기 / 비밀번호 찾기
         ============================================================ -->

    <div>

        <a th:href="@{/signup}">
            회원가입
        </a>

        &nbsp; | &nbsp;

        <a th:href="@{/find-email}">
            아이디 찾기
        </a>

        &nbsp; | &nbsp;

        <a th:href="@{/forgot-password}">
            비밀번호 찾기
        </a>

    </div>


    <br>


    <!-- ============================================================
         소셜 로그인
         ============================================================ -->

    <div class="social-login-container">

        <div>
            소셜 로그인
        </div>


        <br>


        <!-- 카카오 로그인 -->

        <div>

            <a
                    id="kakaoLoginLink"
                    th:href="@{/oauth/kakao/login}">
                카카오 로그인
            </a>

        </div>


        <br>


        <!-- Google 로그인 -->

        <div th:if="${googleLoginEnabled}">

            <div
                    id="g_id_onload"
                    th:attr="data-client_id=${googleClientId}"
                    data-callback="handleGoogleCredentialResponse"
                    data-auto_prompt="false">
            </div>


            <div>

                <span>
                    Google 로그인
                </span>

                <div
                        class="g_id_signin"
                        data-type="icon"
                        data-shape="rectangular"
                        data-theme="outline"
                        data-size="large">
                </div>

            </div>

        </div>


        <div th:unless="${googleLoginEnabled}">
            Google 로그인을 사용하려면 GOOGLE_CLIENT_ID 설정이 필요합니다.
        </div>


        <br>


        <div id="socialMessage">
        </div>

    </div>


    <br>


    <!-- ============================================================
         신규 Google 회원 가입
         ============================================================ -->

    <div
            id="socialSignupContainer"
            style="display: none;">

        <h3>
            닉네임 설정
        </h3>

        <p>
            MeetBack에서 사용할 닉네임을 입력해주세요.
        </p>


        <div>

            <label for="socialNickname">
                닉네임
            </label>

            <input
                    type="text"
                    id="socialNickname"
                    placeholder="닉네임을 입력하세요">

            <button
                    type="button"
                    id="nicknameCheckButton">

                중복 확인

            </button>

        </div>


        <br>


        <div id="nicknameCheckMessage">
        </div>


        <br>


        <h3>
            약관 동의
        </h3>


        <div id="socialTermsContainer">
        </div>


        <div id="socialTermsMessage">
        </div>


        <br>


        <button
                type="button"
                id="socialSignupButton"
                disabled>

            가입 완료

        </button>


        <br>
        <br>


        <div id="socialSignupMessage">
        </div>

    </div>

</div>


<script>

    // ============================================================
    // DOM
    // ============================================================

    const loginForm =
        document.getElementById(
            "loginForm"
        );


    const loginMessage =
        document.getElementById(
            "loginMessage"
        );


    const socialMessage =
        document.getElementById(
            "socialMessage"
        );


    const socialSignupContainer =
        document.getElementById(
            "socialSignupContainer"
        );


    const socialNickname =
        document.getElementById(
            "socialNickname"
        );


    const nicknameCheckButton =
        document.getElementById(
            "nicknameCheckButton"
        );


    const nicknameCheckMessage =
        document.getElementById(
            "nicknameCheckMessage"
        );


    const socialSignupButton =
        document.getElementById(
            "socialSignupButton"
        );


    const socialSignupMessage =
        document.getElementById(
            "socialSignupMessage"
        );


    const socialTermsContainer =
        document.getElementById(
            "socialTermsContainer"
        );


    const socialTermsMessage =
        document.getElementById(
            "socialTermsMessage"
        );


    let socialSignupToken =
        null;


    let checkedNickname =
        null;



    // ============================================================
    // ★ 로그인 성공 후 이동할 주소
    //
    // 일반 로그인:
    //
    // /login
    //      ↓
    // /home
    //
    //
    // 초대 링크에서 온 경우:
    //
    // /login?redirect=%2Fhome%3FinviteCode%3DABC123
    //      ↓
    // /home?inviteCode=ABC123
    //
    // 이후 home.html에서 자동 참가 후
    // /meeting?meetingId=...
    // ============================================================

    function getLoginRedirectUrl()
    {

        const params =
            new URLSearchParams(
                window.location.search
            );


        const redirect =
            params.get(
                "redirect"
            );


        /*
         * redirect가 없다면
         * 기존처럼 Home으로 이동
         */
        if (!redirect)
        {
            return "/home";
        }


        /*
         * 외부 사이트로 강제 이동시키는
         * Open Redirect 방지
         *
         * MeetBack 내부 상대경로만 허용
         */
        if (
            !redirect.startsWith("/")
            ||
            redirect.startsWith("//")
        )
        {
            return "/home";
        }


        return redirect;
    }

    // ============================================================
    // 카카오 로그인에도 현재 redirect 전달
    // ============================================================

    const kakaoLoginLink =
        document.getElementById(
            "kakaoLoginLink"
        );


    function initializeKakaoLoginLink()
    {

        const redirect =
            getLoginRedirectUrl();


        if (
            redirect
            &&
            redirect !== "/home"
        )
        {

            kakaoLoginLink.href =
                "/oauth/kakao/login"
                +
                "?redirect="
                +
                encodeURIComponent(
                    redirect
                );
        }
    }


    initializeKakaoLoginLink();



    // ============================================================
    // 이미 로그인된 사용자 처리
    // ============================================================

    function redirectAlreadyLoggedIn()
    {

        const accessToken =
            localStorage.getItem(
                "accessToken"
            );


        const refreshToken =
            localStorage.getItem(
                "refreshToken"
            );


        const activeLoginSessionId =
            localStorage.getItem(
                "activeLoginSessionId"
            );


        const tabLoginSessionId =
            sessionStorage.getItem(
                "tabLoginSessionId"
            );


        if (
            (
                accessToken
                ||
                refreshToken
            )
            &&
            activeLoginSessionId
            &&
            tabLoginSessionId
            &&
            activeLoginSessionId
            === tabLoginSessionId
        )
        {

            window.location.replace(
                getLoginRedirectUrl()
            );
        }
    }


    // 현재는 기존 코드대로 비활성화
    // redirectAlreadyLoggedIn();



    // ============================================================
    // 닉네임 정책
    // ============================================================

    const nicknamePattern =
        /^[가-힣A-Za-z0-9_]{2,12}$/;


    const blockedNicknameWords =
        [
            "시발",
            "씨발",
            "시팔",
            "씨팔",
            "병신",
            "븅신",
            "개새끼",
            "개새",
            "새끼",
            "미친",
            "미친놈",
            "미친년",
            "좆",
            "존나",
            "졸라",
            "지랄",
            "염병",
            "꺼져",
            "닥쳐",
            "fuck",
            "fucking",
            "shit",
            "bitch"
        ];


    const reservedNicknames =
        [
            "admin",
            "administrator",
            "manager",
            "master",
            "root",
            "meetback",
            "관리자",
            "운영자",
            "매니저",
            "마스터"
        ];



    // ============================================================
    // 닉네임 필터용 정규화
    // ============================================================

    function normalizeNicknameForFilter(
        nickname
    )
    {

        return nickname
            .toLowerCase()
            .replaceAll(
                "_",
                ""
            );
    }



    // ============================================================
    // 닉네임 사용 가능 형식 검사
    // ============================================================

    function isValidNickname(
        nickname
    )
    {

        if (!nickname)
        {
            return false;
        }


        if (
            !nicknamePattern.test(
                nickname
            )
        )
        {
            return false;
        }


        const normalizedNickname =
            normalizeNicknameForFilter(
                nickname
            );


        for (
            const blockedWord
            of blockedNicknameWords
            )
        {

            const normalizedBlockedWord =
                normalizeNicknameForFilter(
                    blockedWord
                );


            if (
                normalizedNickname.includes(
                    normalizedBlockedWord
                )
            )
            {
                return false;
            }
        }


        for (
            const reservedNickname
            of reservedNicknames
            )
        {

            const normalizedReservedNickname =
                normalizeNicknameForFilter(
                    reservedNickname
                );


            if (
                normalizedNickname
                === normalizedReservedNickname
            )
            {
                return false;
            }
        }


        return true;
    }



    // ============================================================
    // 로그인 정보 저장
    // ============================================================

    function saveLoginData(
        data
    )
    {

        localStorage.setItem(
            "accessToken",
            data.accessToken
        );


        localStorage.setItem(
            "refreshToken",
            data.refreshToken
        );


        localStorage.setItem(
            "userId",
            data.userId
        );


        localStorage.setItem(
            "role",
            data.role
        );


        if (data.nickname)
        {

            localStorage.setItem(
                "nickname",
                data.nickname
            );
        }


        /*
         * 필요 시 로그인 세션 분리 기능 사용
         *
         * const loginSessionId =
         *     crypto.randomUUID();
         *
         * localStorage.setItem(
         *     "activeLoginSessionId",
         *     loginSessionId
         * );
         *
         * sessionStorage.setItem(
         *     "tabLoginSessionId",
         *     loginSessionId
         * );
         */
    }



    // ============================================================
    // 소셜 회원가입용 약관 조회
    // ============================================================

    async function loadSocialTerms()
    {

        socialTermsContainer.innerHTML =
            "";


        socialTermsMessage.innerText =
            "";


        socialSignupButton.disabled =
            true;


        try
        {

            const response =
                await fetch(
                    "/terms",
                    {
                        method:
                            "GET"
                    }
                );


            if (!response.ok)
            {

                socialTermsMessage.innerText =
                    "약관 정보를 불러오지 못했습니다.";

                return false;
            }


            const terms =
                await response.json();


            if (
                !Array.isArray(
                    terms
                )
                ||
                terms.length === 0
            )
            {

                socialTermsMessage.innerText =
                    "현재 적용 중인 약관을 확인할 수 없습니다.";

                return false;
            }


            for (const term of terms)
            {

                const wrapper =
                    document.createElement(
                        "div"
                    );


                const label =
                    document.createElement(
                        "label"
                    );


                const checkbox =
                    document.createElement(
                        "input"
                    );


                checkbox.type =
                    "checkbox";


                checkbox.dataset.termId =
                    String(
                        term.termId
                    );


                checkbox.dataset.required =
                    String(
                        term.required === true
                    );


                label.appendChild(
                    checkbox
                );


                const title =
                    document.createElement(
                        "span"
                    );


                title.textContent =
                    (
                        term.required
                            ? "[필수] "
                            : "[선택] "
                    )
                    +
                    term.termName
                    +
                    " "
                    +
                    "(v"
                    +
                    term.version
                    +
                    ")";


                label.appendChild(
                    title
                );


                wrapper.appendChild(
                    label
                );


                const details =
                    document.createElement(
                        "details"
                    );


                const summary =
                    document.createElement(
                        "summary"
                    );


                summary.textContent =
                    "약관 내용 보기";


                const content =
                    document.createElement(
                        "div"
                    );


                content.style.whiteSpace =
                    "pre-wrap";


                content.textContent =
                    term.content
                    ||
                    "약관 내용이 없습니다.";


                details.appendChild(
                    summary
                );


                details.appendChild(
                    content
                );


                wrapper.appendChild(
                    details
                );


                wrapper.appendChild(
                    document.createElement(
                        "br"
                    )
                );


                socialTermsContainer.appendChild(
                    wrapper
                );
            }


            socialSignupButton.disabled =
                false;


            return true;

        }
        catch (error)
        {

            console.error(
                "약관 조회 오류:",
                error
            );


            socialTermsMessage.innerText =
                "약관 조회 중 오류가 발생했습니다.";


            return false;
        }
    }



    // ============================================================
    // 동의한 약관 ID 조회
    // ============================================================

    function getAgreedTermIds()
    {

        const checkedTerms =
            socialTermsContainer.querySelectorAll(
                'input[data-term-id]:checked'
            );


        return Array.from(
            checkedTerms
        ).map(
            checkbox =>
                Number(
                    checkbox.dataset.termId
                )
        );
    }



    // ============================================================
    // 필수 약관 동의 여부
    // ============================================================

    function areRequiredTermsAgreed()
    {

        const requiredTerms =
            socialTermsContainer.querySelectorAll(
                'input[data-required="true"]'
            );


        if (
            requiredTerms.length === 0
        )
        {
            return false;
        }


        for (const checkbox of requiredTerms)
        {

            if (!checkbox.checked)
            {
                return false;
            }
        }


        return true;
    }



    // ============================================================
    // ★ 일반 로그인
    // ============================================================

    loginForm.addEventListener(
        "submit",
        async function(event)
        {

            event.preventDefault();


            loginMessage.innerText =
                "";


            const email =
                document.getElementById(
                    "email"
                ).value.trim();


            const password =
                document.getElementById(
                    "password"
                ).value;


            if (!email)
            {

                loginMessage.innerText =
                    "이메일을 입력해주세요.";

                return;
            }


            if (!password)
            {

                loginMessage.innerText =
                    "비밀번호를 입력해주세요.";

                return;
            }


            try
            {

                const response =
                    await fetch(
                        "/auth/login",
                        {

                            method:
                                "POST",

                            headers: {

                                "Content-Type":
                                    "application/json"

                            },

                            body:
                                JSON.stringify(
                                    {

                                        email:
                                        email,

                                        password:
                                        password

                                    }
                                )

                        }
                    );


                if (!response.ok)
                {

                    loginMessage.innerText =
                        "이메일 또는 비밀번호를 확인해주세요.";

                    return;
                }


                const data =
                    await response.json();


                saveLoginData(
                    data
                );


                loginMessage.innerText =
                    "로그인에 성공했습니다.";


                /*
                 * 일반 로그인
                 * → /home
                 *
                 * 초대 링크 로그인
                 * → /home?inviteCode=...
                 */
                window.location.replace(
                    getLoginRedirectUrl()
                );

            }
            catch (error)
            {

                console.error(
                    "로그인 요청 오류:",
                    error
                );


                loginMessage.innerText =
                    "로그인 처리 중 오류가 발생했습니다.";
            }

        }
    );



    // ============================================================
    // ★ Google 로그인
    // ============================================================

    window.handleGoogleCredentialResponse =
        async function(
            googleResponse
        )
        {

            socialMessage.innerText =
                "Google 로그인 처리 중입니다.";


            if (
                !googleResponse
                ||
                !googleResponse.credential
            )
            {

                socialMessage.innerText =
                    "Google 인증 정보를 받지 못했습니다.";

                return;
            }


            try
            {

                const response =
                    await fetch(
                        "/auth/google",
                        {

                            method:
                                "POST",

                            headers: {

                                "Content-Type":
                                    "application/json"

                            },

                            body:
                                JSON.stringify(
                                    {

                                        credential:
                                        googleResponse.credential

                                    }
                                )

                        }
                    );


                const data =
                    await response.json();


                if (!response.ok)
                {

                    socialMessage.innerText =
                        data.message
                        ||
                        "Google 로그인에 실패했습니다.";

                    return;
                }


                // ====================================================
                // 신규 Google 회원
                // ====================================================

                if (
                    data.status
                    === "NICKNAME_REQUIRED"
                )
                {

                    if (!data.signupToken)
                    {

                        socialMessage.innerText =
                            "Google 회원가입 정보를 확인할 수 없습니다.";

                        return;
                    }


                    socialSignupToken =
                        data.signupToken;


                    checkedNickname =
                        null;


                    socialNickname.value =
                        "";


                    nicknameCheckMessage.innerText =
                        "";


                    socialSignupMessage.innerText =
                        "";


                    socialTermsMessage.innerText =
                        "";


                    socialSignupContainer.style.display =
                        "block";


                    const termsLoaded =
                        await loadSocialTerms();


                    if (!termsLoaded)
                    {

                        socialMessage.innerText =
                            "Google 인증은 완료되었지만 약관 정보를 불러오지 못했습니다.";

                        return;
                    }


                    socialMessage.innerText =
                        "Google 인증이 완료되었습니다. 닉네임과 필수 약관 동의를 완료해주세요.";


                    return;
                }


                // ====================================================
                // 기존 Google 회원
                // ====================================================

                if (
                    data.status
                    !== "LOGIN_SUCCESS"
                )
                {

                    socialMessage.innerText =
                        "Google 로그인 결과를 확인할 수 없습니다.";

                    return;
                }


                saveLoginData(
                    data
                );


                socialMessage.innerText =
                    "Google 로그인에 성공했습니다.";


                /*
                 * 초대 링크 redirect 유지
                 */
                window.location.replace(
                    getLoginRedirectUrl()
                );

            }
            catch (error)
            {

                console.error(
                    "Google 로그인 요청 오류:",
                    error
                );


                socialMessage.innerText =
                    "Google 로그인 처리 중 오류가 발생했습니다.";
            }

        };



    // ============================================================
    // 닉네임 변경 시 중복 확인 상태 초기화
    // ============================================================

    socialNickname.addEventListener(
        "input",
        function()
        {

            checkedNickname =
                null;


            nicknameCheckMessage.innerText =
                "";


            socialSignupMessage.innerText =
                "";
        }
    );



    // ============================================================
    // 닉네임 중복 검사
    // ============================================================

    nicknameCheckButton.addEventListener(
        "click",
        async function()
        {

            const nickname =
                socialNickname.value;


            nicknameCheckMessage.innerText =
                "";


            socialSignupMessage.innerText =
                "";


            checkedNickname =
                null;


            if (!nickname)
            {

                nicknameCheckMessage.innerText =
                    "닉네임을 입력해주세요.";

                return;
            }


            if (
                !isValidNickname(
                    nickname
                )
            )
            {

                nicknameCheckMessage.innerText =
                    "사용할 수 없는 닉네임입니다. 2~12자의 한글, 영문, 숫자, 밑줄(_)만 사용할 수 있습니다.";

                return;
            }


            try
            {

                const response =
                    await fetch(
                        "/auth/nickname/check?nickname="
                        +
                        encodeURIComponent(
                            nickname
                        ),
                        {

                            method:
                                "GET"

                        }
                    );


                if (!response.ok)
                {

                    nicknameCheckMessage.innerText =
                        "닉네임 중복 확인에 실패했습니다.";

                    return;
                }


                const data =
                    await response.json();


                if (data.available)
                {

                    checkedNickname =
                        nickname;


                    nicknameCheckMessage.innerText =
                        "사용 가능한 닉네임입니다.";

                }
                else
                {

                    checkedNickname =
                        null;


                    nicknameCheckMessage.innerText =
                        "이미 사용 중이거나 사용할 수 없는 닉네임입니다.";
                }

            }
            catch (error)
            {

                checkedNickname =
                    null;


                console.error(
                    "닉네임 중복 확인 오류:",
                    error
                );


                nicknameCheckMessage.innerText =
                    "닉네임 확인 중 오류가 발생했습니다.";
            }

        }
    );



    // ============================================================
    // ★ Google 신규 회원가입 완료
    // ============================================================

    socialSignupButton.addEventListener(
        "click",
        async function()
        {

            socialSignupMessage.innerText =
                "";


            socialTermsMessage.innerText =
                "";


            const nickname =
                socialNickname.value;


            if (!socialSignupToken)
            {

                socialSignupMessage.innerText =
                    "Google 회원가입 정보가 없습니다.";

                return;
            }


            if (!nickname)
            {

                socialSignupMessage.innerText =
                    "닉네임을 입력해주세요.";

                return;
            }


            if (
                !isValidNickname(
                    nickname
                )
            )
            {

                socialSignupMessage.innerText =
                    "사용할 수 없는 닉네임입니다.";

                return;
            }


            if (
                checkedNickname
                !== nickname
            )
            {

                socialSignupMessage.innerText =
                    "닉네임 중복 확인을 해주세요.";

                return;
            }


            if (
                !areRequiredTermsAgreed()
            )
            {

                socialTermsMessage.innerText =
                    "필수 약관에 모두 동의해주세요.";

                return;
            }


            const agreedTermIds =
                getAgreedTermIds();


            try
            {

                const response =
                    await fetch(
                        "/auth/social/complete",
                        {

                            method:
                                "POST",

                            headers: {

                                "Content-Type":
                                    "application/json"

                            },

                            body:
                                JSON.stringify(
                                    {

                                        signupToken:
                                        socialSignupToken,

                                        nickname:
                                        nickname,

                                        agreedTermIds:
                                        agreedTermIds

                                    }
                                )

                        }
                    );


                const data =
                    await response.json();


                if (!response.ok)
                {

                    socialSignupMessage.innerText =
                        data.message
                        ||
                        "Google 회원가입에 실패했습니다.";

                    return;
                }


                if (
                    data.status
                    !== "LOGIN_SUCCESS"
                )
                {

                    socialSignupMessage.innerText =
                        "Google 회원가입 결과를 확인할 수 없습니다.";

                    return;
                }


                saveLoginData(
                    data
                );


                socialSignupToken =
                    null;


                checkedNickname =
                    null;


                socialSignupMessage.innerText =
                    "회원가입 및 로그인에 성공했습니다.";


                /*
                 * 신규 Google 회원도
                 * 초대 링크 redirect 유지
                 */
                window.location.replace(
                    getLoginRedirectUrl()
                );

            }
            catch (error)
            {

                console.error(
                    "Google 회원가입 요청 오류:",
                    error
                );


                socialSignupMessage.innerText =
                    "Google 회원가입 처리 중 오류가 발생했습니다.";
            }

        }
    );

</script>


</body>

</html>