<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MeetBack 비밀번호 재설정</title>
</head>

<body>

<div class="reset-password-container">

    <h1>비밀번호 재설정</h1>

    <p>
        새로운 비밀번호를 입력해주세요.
    </p>


    <div
            id="resetPasswordData"
            th:data-token="${token}"
            style="display: none;"
    >
    </div>


    <form id="resetPasswordForm">

        <div>

            <label for="newPassword">
                새 비밀번호
            </label>

            <input
                    type="password"
                    id="newPassword"
                    placeholder="새 비밀번호를 입력하세요"
                    autocomplete="new-password"
                    required
            >

        </div>


        <br>


        <div id="passwordMessage">
            비밀번호는 8~20자이며 대문자, 소문자, 숫자, 특수문자를 각각 1개 이상 포함해야 합니다.
        </div>


        <br>


        <div>

            <label for="newPasswordConfirm">
                새 비밀번호 확인
            </label>

            <input
                    type="password"
                    id="newPasswordConfirm"
                    placeholder="새 비밀번호를 다시 입력하세요"
                    autocomplete="new-password"
                    required
            >

        </div>


        <br>


        <div id="passwordConfirmMessage"></div>


        <br>


        <button
                type="submit"
                id="resetPasswordButton"
        >
            비밀번호 변경
        </button>

    </form>


    <br>


    <div id="resetPasswordMessage"></div>


    <br>


    <div>

        <a th:href="@{/login}">
            로그인으로 돌아가기
        </a>

    </div>

</div>


<script>

    const resetPasswordData =
        document.getElementById(
            "resetPasswordData"
        );


    const resetPasswordForm =
        document.getElementById(
            "resetPasswordForm"
        );


    const resetPasswordMessage =
        document.getElementById(
            "resetPasswordMessage"
        );


    const resetPasswordButton =
        document.getElementById(
            "resetPasswordButton"
        );


    const newPasswordInput =
        document.getElementById(
            "newPassword"
        );


    const newPasswordConfirmInput =
        document.getElementById(
            "newPasswordConfirm"
        );


    const passwordMessage =
        document.getElementById(
            "passwordMessage"
        );


    const passwordConfirmMessage =
        document.getElementById(
            "passwordConfirmMessage"
        );


    const resetToken =
        resetPasswordData.dataset.token;


    const passwordPattern =
        /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9\s])\S{8,20}$/;


    if (!resetToken)
    {

        resetPasswordMessage.innerText =
            "비밀번호 재설정 정보를 확인할 수 없습니다.";


        resetPasswordButton.disabled =
            true;
    }


    // 새 비밀번호 입력 검사
    newPasswordInput.addEventListener(
        "input",
        function()
        {

            const newPassword =
                newPasswordInput.value;


            resetPasswordMessage.innerText =
                "";


            if (!newPassword)
            {

                passwordMessage.innerText =
                    "비밀번호는 8~20자이며 대문자, 소문자, 숫자, 특수문자를 각각 1개 이상 포함해야 합니다.";


                checkPasswordConfirm();


                return;
            }


            if (
                passwordPattern.test(
                    newPassword
                )
            )
            {

                passwordMessage.innerText =
                    "사용 가능한 비밀번호입니다.";

            }
            else
            {

                passwordMessage.innerText =
                    "비밀번호는 8~20자이며 대문자, 소문자, 숫자, 특수문자를 각각 1개 이상 포함해야 하며 공백은 사용할 수 없습니다.";
            }


            checkPasswordConfirm();

        }
    );


    // 새 비밀번호 확인 입력 검사
    newPasswordConfirmInput.addEventListener(
        "input",
        function()
        {

            resetPasswordMessage.innerText =
                "";


            checkPasswordConfirm();

        }
    );


    // 새 비밀번호 일치 검사
    function checkPasswordConfirm()
    {

        const newPassword =
            newPasswordInput.value;


        const newPasswordConfirm =
            newPasswordConfirmInput.value;


        if (!newPasswordConfirm)
        {

            passwordConfirmMessage.innerText =
                "";

            return;
        }


        if (
            newPassword ===
            newPasswordConfirm
        )
        {

            passwordConfirmMessage.innerText =
                "비밀번호가 일치합니다.";

        }
        else
        {

            passwordConfirmMessage.innerText =
                "비밀번호가 일치하지 않습니다.";
        }

    }


    resetPasswordForm.addEventListener(
        "submit",
        async function(event)
        {

            event.preventDefault();


            resetPasswordMessage.innerText =
                "";


            const newPassword =
                newPasswordInput.value;


            const newPasswordConfirm =
                newPasswordConfirmInput.value;


            if (!resetToken)
            {

                resetPasswordMessage.innerText =
                    "비밀번호 재설정 정보가 없습니다.";

                return;
            }


            if (!newPassword)
            {

                resetPasswordMessage.innerText =
                    "새 비밀번호를 입력해주세요.";

                return;
            }


            if (
                !passwordPattern.test(
                    newPassword
                )
            )
            {

                resetPasswordMessage.innerText =
                    "비밀번호는 8~20자이며 대문자, 소문자, 숫자, 특수문자를 각각 1개 이상 포함해야 하며 공백은 사용할 수 없습니다.";

                return;
            }


            if (!newPasswordConfirm)
            {

                resetPasswordMessage.innerText =
                    "새 비밀번호 확인을 입력해주세요.";

                return;
            }


            if (
                newPassword !==
                newPasswordConfirm
            )
            {

                resetPasswordMessage.innerText =
                    "새 비밀번호가 일치하지 않습니다.";

                return;
            }


            try
            {

                resetPasswordButton.disabled =
                    true;


                const response =
                    await fetch(
                        "/auth/password/reset/confirm",
                        {

                            method: "POST",

                            headers: {

                                "Content-Type":
                                    "application/json"

                            },

                            body: JSON.stringify(
                                {

                                    token:
                                    resetToken,

                                    newPassword:
                                    newPassword,

                                    newPasswordConfirm:
                                    newPasswordConfirm

                                }
                            )

                        }
                    );


                if (!response.ok)
                {

                    let message =
                        "유효하지 않거나 만료된 비밀번호 재설정 요청입니다.";


                    try
                    {

                        const data =
                            await response.json();


                        if (data.message)
                        {

                            message =
                                data.message;
                        }

                    }
                    catch (error)
                    {

                        console.error(
                            "비밀번호 재설정 오류 응답 처리:",
                            error
                        );
                    }


                    resetPasswordMessage.innerText =
                        message;


                    resetPasswordButton.disabled =
                        false;


                    return;
                }


                resetPasswordMessage.innerText =
                    "비밀번호가 변경되었습니다. 로그인 페이지로 이동합니다.";


                setTimeout(
                    function()
                    {

                        window.location.href =
                            "/login";

                    },
                    1000
                );

            }
            catch (error)
            {

                console.error(
                    "비밀번호 재설정 오류:",
                    error
                );


                resetPasswordMessage.innerText =
                    "비밀번호 재설정 처리 중 오류가 발생했습니다.";


                resetPasswordButton.disabled =
                    false;
            }

        }
    );

</script>

</body>

</html>