<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MeetBack</title>
</head>

<body>

<div class="home-container"
     id="homeContainer"
     th:attr="
        data-login-url=@{/login},
        data-check-url=@{/auth/check},
        data-logout-url=@{/auth/logout},
        data-withdraw-url=@{/auth/withdraw},
        data-withdraw-cancel-url=@{/auth/withdraw/cancel}
     ">

    <h1>MeetBack</h1>

    <div>
        <h2>로그인 정보</h2>

        <div id="userId"></div>
        <div id="role"></div>
    </div>

    <br><br>

    <div id="homeMessage"></div>

    <br><br>

    <button type="button"
            id="logoutButton">
        로그아웃
    </button>

    <br><br>

    <button type="button"
            id="withdrawButton">
        회원탈퇴
    </button>

    <br><br>

    <div id="withdrawConfirm"
         style="display: none;">

        <div>
            정말 회원탈퇴를 요청하시겠습니까?
        </div>

        <br>

        <button type="button"
                id="withdrawConfirmButton">
            탈퇴 요청
        </button>

        <button type="button"
                id="withdrawCancelButton">
            취소
        </button>

    </div>

    <br><br>

    <button type="button"
            id="cancelWithdrawalButton">
        회원탈퇴 취소
    </button>

</div>


<script>

    const homeContainer =
        document.getElementById(
            "homeContainer"
        );


    // Thymeleaf가 생성한 URL

    const loginUrl =
        homeContainer.dataset.loginUrl;

    const checkUrl =
        homeContainer.dataset.checkUrl;

    const logoutUrl =
        homeContainer.dataset.logoutUrl;

    const withdrawUrl =
        homeContainer.dataset.withdrawUrl;

    const withdrawCancelUrl =
        homeContainer.dataset.withdrawCancelUrl;


    // 로그인 정보

    const accessToken =
        localStorage.getItem(
            "accessToken"
        );

    const userId =
        localStorage.getItem(
            "userId"
        );

    const role =
        localStorage.getItem(
            "role"
        );


    const userIdDiv =
        document.getElementById(
            "userId"
        );

    const roleDiv =
        document.getElementById(
            "role"
        );

    const homeMessage =
        document.getElementById(
            "homeMessage"
        );


    const logoutButton =
        document.getElementById(
            "logoutButton"
        );

    const withdrawButton =
        document.getElementById(
            "withdrawButton"
        );

    const withdrawConfirm =
        document.getElementById(
            "withdrawConfirm"
        );

    const withdrawConfirmButton =
        document.getElementById(
            "withdrawConfirmButton"
        );

    const withdrawCancelButton =
        document.getElementById(
            "withdrawCancelButton"
        );

    const cancelWithdrawalButton =
        document.getElementById(
            "cancelWithdrawalButton"
        );


    // localStorage 로그인 정보 삭제

    function clearLoginStorage()
    {

        localStorage.removeItem(
            "accessToken"
        );

        localStorage.removeItem(
            "refreshToken"
        );

        localStorage.removeItem(
            "userId"
        );

        localStorage.removeItem(
            "role"
        );

    }


    // 로그인 상태 확인

    async function checkLogin()
    {

        if (!accessToken)
        {

            window.location.href =
                loginUrl;

            return;

        }


        try
        {

            const response =
                await fetch(
                    checkUrl,
                    {

                        method: "GET",

                        headers: {

                            "Authorization":
                                "Bearer "
                                + accessToken

                        }

                    }
                );


            if (!response.ok)
            {

                clearLoginStorage();

                window.location.href =
                    loginUrl;

                return;

            }


            userIdDiv.innerText =
                "사용자 ID : "
                + userId;


            roleDiv.innerText =
                "권한 : "
                + role;

        }
        catch (error)
        {

            console.error(
                "로그인 상태 확인 오류:",
                error
            );


            clearLoginStorage();


            window.location.href =
                loginUrl;

        }

    }


    // 로그아웃

    logoutButton.addEventListener(
        "click",
        async function()
        {

            try
            {

                const response =
                    await fetch(
                        logoutUrl,
                        {

                            method: "POST",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "로그아웃 처리 중 오류가 발생했습니다.";

                    return;

                }


                clearLoginStorage();


                window.location.href =
                    loginUrl;

            }
            catch (error)
            {

                console.error(
                    "로그아웃 요청 오류:",
                    error
                );


                homeMessage.innerText =
                    "로그아웃 처리 중 오류가 발생했습니다.";

            }

        }
    );


    // 회원탈퇴 버튼

    withdrawButton.addEventListener(
        "click",
        function()
        {

            withdrawConfirm.style.display =
                "block";

        }
    );


    // 회원탈퇴 확인 취소

    withdrawCancelButton.addEventListener(
        "click",
        function()
        {

            withdrawConfirm.style.display =
                "none";

        }
    );


    // 실제 회원탈퇴 요청

    withdrawConfirmButton.addEventListener(
        "click",
        async function()
        {

            try
            {

                const response =
                    await fetch(
                        withdrawUrl,
                        {

                            method: "DELETE",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "회원탈퇴 요청 중 오류가 발생했습니다.";

                    return;

                }


                homeMessage.innerText =
                    "회원탈퇴가 요청되었습니다.";


                withdrawConfirm.style.display =
                    "none";

            }
            catch (error)
            {

                console.error(
                    "회원탈퇴 요청 오류:",
                    error
                );


                homeMessage.innerText =
                    "회원탈퇴 요청 중 오류가 발생했습니다.";

            }

        }
    );


    // 회원탈퇴 취소

    cancelWithdrawalButton.addEventListener(
        "click",
        async function()
        {

            try
            {

                const response =
                    await fetch(
                        withdrawCancelUrl,
                        {

                            method: "POST",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "회원탈퇴 취소 중 오류가 발생했습니다.";

                    return;

                }


                homeMessage.innerText =
                    "회원탈퇴가 취소되었습니다.";

            }
            catch (error)
            {

                console.error(
                    "회원탈퇴 취소 오류:",
                    error
                );


                homeMessage.innerText =
                    "회원탈퇴 취소 중 오류가 발생했습니다.";

            }

        }
    );


    // 페이지 진입 시 로그인 검사

    checkLogin();

</script>

</body>

</html>