<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MeetBack</title>
</head>

<body>

<div class="home-container"
     id="homeContainer"
     th:attr="
        data-login-url=@{/login},
        data-check-url=@{/auth/check},
        data-refresh-url=@{/auth/refresh},
        data-logout-url=@{/auth/logout},
        data-withdraw-url=@{/auth/withdraw},
        data-withdraw-cancel-url=@{/auth/withdraw/cancel}
     ">

    <h1>MeetBack</h1>

    <div>
        <h2>로그인 정보</h2>

        <div id="userId"></div>
        <div id="role"></div>
    </div>

    <br><br>

    <div id="homeMessage"></div>

    <br><br>

    <button type="button"
            id="logoutButton">
        로그아웃
    </button>

    <br><br>

    <button type="button"
            id="withdrawButton">
        회원탈퇴
    </button>

    <br><br>

    <div id="withdrawConfirm"
         style="display: none;">

        <div>
            정말 회원탈퇴를 요청하시겠습니까?
        </div>

        <br>

        <button type="button"
                id="withdrawConfirmButton">
            탈퇴 요청
        </button>

        <button type="button"
                id="withdrawCancelButton">
            취소
        </button>

    </div>

    <br><br>

    <button type="button"
            id="cancelWithdrawalButton">
        회원탈퇴 취소
    </button>

</div>


<script>

    const homeContainer =
        document.getElementById(
            "homeContainer"
        );


    // Thymeleaf가 생성한 URL

    const loginUrl =
        homeContainer.dataset.loginUrl;

    const checkUrl =
        homeContainer.dataset.checkUrl;

    const refreshUrl =
        homeContainer.dataset.refreshUrl;

    const logoutUrl =
        homeContainer.dataset.logoutUrl;

    const withdrawUrl =
        homeContainer.dataset.withdrawUrl;

    const withdrawCancelUrl =
        homeContainer.dataset.withdrawCancelUrl;


    // Access Token은 재발급될 수 있기 때문에 let 사용

    let accessToken =
        localStorage.getItem(
            "accessToken"
        );


    const userIdDiv =
        document.getElementById(
            "userId"
        );

    const roleDiv =
        document.getElementById(
            "role"
        );

    const homeMessage =
        document.getElementById(
            "homeMessage"
        );


    const logoutButton =
        document.getElementById(
            "logoutButton"
        );

    const withdrawButton =
        document.getElementById(
            "withdrawButton"
        );

    const withdrawConfirm =
        document.getElementById(
            "withdrawConfirm"
        );

    const withdrawConfirmButton =
        document.getElementById(
            "withdrawConfirmButton"
        );

    const withdrawCancelButton =
        document.getElementById(
            "withdrawCancelButton"
        );

    const cancelWithdrawalButton =
        document.getElementById(
            "cancelWithdrawalButton"
        );


    // 로그인 정보 삭제
    // 로그아웃 또는 Refresh Token까지 사용할 수 없을 때만 호출

    function clearLoginStorage()
    {

        localStorage.removeItem(
            "accessToken"
        );

        localStorage.removeItem(
            "refreshToken"
        );

        localStorage.removeItem(
            "userId"
        );

        localStorage.removeItem(
            "role"
        );

    }


    // Refresh Token으로
    // 새 Access Token + 새 Refresh Token 발급

    async function refreshTokens()
    {

        const refreshToken =
            localStorage.getItem(
                "refreshToken"
            );


        if (!refreshToken)
        {

            return false;

        }


        try
        {

            const response =
                await fetch(
                    refreshUrl,
                    {

                        method: "POST",

                        headers: {

                            "Content-Type":
                                "application/json"

                        },

                        body: JSON.stringify(
                            {

                                refreshToken:
                                refreshToken

                            }
                        )

                    }
                );


            if (!response.ok)
            {

                return false;

            }


            const data =
                await response.json();


            // 새 Access Token 저장

            localStorage.setItem(
                "accessToken",
                data.accessToken
            );


            // Rotation 방식
            // 새 Refresh Token으로 기존 값 덮어쓰기

            localStorage.setItem(
                "refreshToken",
                data.refreshToken
            );


            // 현재 페이지에서 사용하는 Access Token도 교체

            accessToken =
                data.accessToken;


            return true;

        }
        catch (error)
        {

            console.error(
                "토큰 재발급 오류:",
                error
            );


            return false;

        }

    }


    // Access Token으로 로그인 상태 확인

    async function requestLoginCheck()
    {

        return await fetch(
            checkUrl,
            {

                method: "GET",

                headers: {

                    "Authorization":
                        "Bearer "
                        + accessToken

                }

            }
        );

    }


    // 로그인 상태 확인

    async function checkLogin()
    {

        // Access Token 자체가 없으면
        // Refresh Token이 있는지 먼저 확인

        if (!accessToken)
        {

            const refreshed =
                await refreshTokens();


            if (!refreshed)
            {

                clearLoginStorage();

                window.location.href =
                    loginUrl;

                return;

            }

        }


        try
        {

            // 1차 Access Token 검증

            let response =
                await requestLoginCheck();


            // Access Token 만료 또는 검증 실패
            // Refresh Token으로 재발급 시도

            if (!response.ok)
            {

                const refreshed =
                    await refreshTokens();


                // Refresh Token까지 실패
                // 완전히 로그인 풀기

                if (!refreshed)
                {

                    clearLoginStorage();

                    window.location.href =
                        loginUrl;

                    return;

                }


                // 새 Access Token으로 다시 검증

                response =
                    await requestLoginCheck();


                if (!response.ok)
                {

                    clearLoginStorage();

                    window.location.href =
                        loginUrl;

                    return;

                }

            }


            // 서버에서 검증된 Access Token 기반 사용자 정보

            const data =
                await response.json();


            userIdDiv.innerText =
                "사용자 ID : "
                + data.userId;


            roleDiv.innerText =
                "권한 : "
                + data.role;

        }
        catch (error)
        {

            console.error(
                "로그인 상태 확인 오류:",
                error
            );


            clearLoginStorage();


            window.location.href =
                loginUrl;

        }

    }


    // 로그아웃

    logoutButton.addEventListener(
        "click",
        async function()
        {

            try
            {

                const response =
                    await fetch(
                        logoutUrl,
                        {

                            method: "POST",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "로그아웃 처리 중 오류가 발생했습니다.";

                    return;

                }


                clearLoginStorage();


                window.location.href =
                    loginUrl;

            }
            catch (error)
            {

                console.error(
                    "로그아웃 요청 오류:",
                    error
                );


                homeMessage.innerText =
                    "로그아웃 처리 중 오류가 발생했습니다.";

            }

        }
    );


    // 회원탈퇴 버튼

    withdrawButton.addEventListener(
        "click",
        function()
        {

            withdrawConfirm.style.display =
                "block";

        }
    );


    // 회원탈퇴 확인 취소

    withdrawCancelButton.addEventListener(
        "click",
        function()
        {

            withdrawConfirm.style.display =
                "none";

        }
    );


    // 실제 회원탈퇴 요청

    withdrawConfirmButton.addEventListener(
        "click",
        async function()
        {

            try
            {

                const response =
                    await fetch(
                        withdrawUrl,
                        {

                            method: "DELETE",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "회원탈퇴 요청 중 오류가 발생했습니다.";

                    return;

                }


                homeMessage.innerText =
                    "회원탈퇴가 요청되었습니다.";


                withdrawConfirm.style.display =
                    "none";

            }
            catch (error)
            {

                console.error(
                    "회원탈퇴 요청 오류:",
                    error
                );


                homeMessage.innerText =
                    "회원탈퇴 요청 중 오류가 발생했습니다.";

            }

        }
    );


    // 회원탈퇴 취소

    cancelWithdrawalButton.addEventListener(
        "click",
        async function()
        {

            try
            {

                const response =
                    await fetch(
                        withdrawCancelUrl,
                        {

                            method: "POST",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "회원탈퇴 취소 중 오류가 발생했습니다.";

                    return;

                }


                homeMessage.innerText =
                    "회원탈퇴가 취소되었습니다.";

            }
            catch (error)
            {

                console.error(
                    "회원탈퇴 취소 오류:",
                    error
                );


                homeMessage.innerText =
                    "회원탈퇴 취소 중 오류가 발생했습니다.";

            }

        }
    );


    // 페이지 진입 시 로그인 검사

    checkLogin();

</script>

</body>

</html>