<!DOCTYPE html>
<html lang="ko">
     <"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MeetBack</title>
</head>

<body>

<div class="home-container">

    <h1>MeetBack</h1>


    <div>
        <h2>로그인 정보</h2>

        <div id="userId"></div>

        <div id="role"></div>
    </div>


    <br>


    <div id="homeMessage"></div>


    <br>


    <div>
        <button
                type="button"
                id="logoutButton"
        >
            로그아웃
        </button>
    </div>


    <br>


    <div>
        <button
                type="button"
                id="withdrawButton"
        >
            회원탈퇴
        </button>
    </div>


    <br>


    <div
            id="withdrawConfirm"
            style="display: none;"
    >

        <div>
            정말 회원탈퇴를 요청하시겠습니까?
        </div>

        <br>

        <button
                type="button"
                id="withdrawConfirmButton"
        >
            탈퇴 요청
        </button>

        <button
                type="button"
                id="withdrawCancelButton"
        >
            취소
        </button>

    </div>


    <br>


    <div>
        <button
                type="button"
                id="cancelWithdrawalButton"
        >
            회원탈퇴 취소
        </button>
    </div>

</div>


<script>

    const accessToken =
        localStorage.getItem(
            "accessToken"
        );


    const refreshToken =
        localStorage.getItem(
            "refreshToken"
        );


    const userId =
        localStorage.getItem(
            "userId"
        );


    const role =
        localStorage.getItem(
            "role"
        );


    const homeMessage =
        document.getElementById(
            "homeMessage"
        );


    if (!accessToken)
    {

        window.location.href =
            "/login";

    }


    document.getElementById(
        "userId"
    ).innerText =
        "사용자 ID : "
        + userId;


    document.getElementById(
        "role"
    ).innerText =
        "권한 : "
        + role;



    // 로그아웃

    const logoutButton =
        document.getElementById(
            "logoutButton"
        );


    logoutButton.addEventListener(
        "click",
        async function()
        {

            homeMessage.innerText = "";


            try
            {

                const response =
                    await fetch(
                        "/auth/logout",
                        {

                            method: "POST",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "로그아웃에 실패했습니다.";

                    return;

                }


                localStorage.removeItem(
                    "accessToken"
                );


                localStorage.removeItem(
                    "refreshToken"
                );


                localStorage.removeItem(
                    "userId"
                );


                localStorage.removeItem(
                    "role"
                );


                homeMessage.innerText =
                    "로그아웃되었습니다.";


                setTimeout(
                    function()
                    {

                        window.location.href =
                            "/login";

                    },
                    500
                );

            }
            catch (error)
            {

                console.error(
                    "로그아웃 요청 오류:",
                    error
                );


                homeMessage.innerText =
                    "로그아웃 처리 중 오류가 발생했습니다.";

            }

        }
    );



    // 회원탈퇴 버튼

    const withdrawButton =
        document.getElementById(
            "withdrawButton"
        );


    const withdrawConfirm =
        document.getElementById(
            "withdrawConfirm"
        );


    withdrawButton.addEventListener(
        "click",
        function()
        {

            homeMessage.innerText = "";


            withdrawConfirm.style.display =
                "block";

        }
    );



    // 회원탈퇴 확인

    const withdrawConfirmButton =
        document.getElementById(
            "withdrawConfirmButton"
        );


    withdrawConfirmButton.addEventListener(
        "click",
        async function()
        {

            homeMessage.innerText = "";


            try
            {

                const response =
                    await fetch(
                        "/auth/withdraw",
                        {

                            method: "DELETE",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "회원탈퇴 요청에 실패했습니다.";

                    return;

                }


                withdrawConfirm.style.display =
                    "none";


                homeMessage.innerText =
                    "회원탈퇴가 요청되었습니다.";

            }
            catch (error)
            {

                console.error(
                    "회원탈퇴 요청 오류:",
                    error
                );


                homeMessage.innerText =
                    "회원탈퇴 처리 중 오류가 발생했습니다.";

            }

        }
    );



    // 회원탈퇴 확인창 취소

    const withdrawCancelButton =
        document.getElementById(
            "withdrawCancelButton"
        );


    withdrawCancelButton.addEventListener(
        "click",
        function()
        {

            withdrawConfirm.style.display =
                "none";


            homeMessage.innerText =
                "회원탈퇴 요청을 취소했습니다.";

        }
    );



    // 회원탈퇴 취소

    const cancelWithdrawalButton =
        document.getElementById(
            "cancelWithdrawalButton"
        );


    cancelWithdrawalButton.addEventListener(
        "click",
        async function()
        {

            homeMessage.innerText = "";


            try
            {

                const response =
                    await fetch(
                        "/auth/withdraw/cancel",
                        {

                            method: "POST",

                            headers: {

                                "Authorization":
                                    "Bearer "
                                    + accessToken

                            }

                        }
                    );


                if (!response.ok)
                {

                    homeMessage.innerText =
                        "회원탈퇴 취소에 실패했습니다.";

                    return;

                }


                homeMessage.innerText =
                    "회원탈퇴가 취소되었습니다.";

            }
            catch (error)
            {

                console.error(
                    "회원탈퇴 취소 요청 오류:",
                    error
                );


                homeMessage.innerText =
                    "회원탈퇴 취소 처리 중 오류가 발생했습니다.";

            }

        }
    );

</script>

</body>

</html>