<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MeetBack 로그인</title>
    <script
            src="https://accounts.google.com/gsi/client"
            async
            defer
    ></script>
    <link rel="stylesheet" th:href="@{/css/login_test.css}">
</head>

<body>

<div class="login-container">

    <h1>MeetBack 로그인</h1>


    <!-- 일반 로그인 -->
    <form id="loginForm">

        <div>
            <label for="email">
                이메일
            </label>

            <input
                    type="email"
                    id="email"
                    placeholder="이메일을 입력하세요"
                    required
            >
        </div>


        <br>


        <div>
            <label for="password">
                비밀번호
            </label>

            <input
                    type="password"
                    id="password"
                    placeholder="비밀번호를 입력하세요"
                    required
            >
        </div>


        <br>


        <div id="loginMessage"></div>


        <br>


        <button type="submit">
            로그인
        </button>

    </form>


    <br>


    <!-- 회원가입 -->
    <div>

        <a th:href="@{/signup}">
            회원가입
        </a>

    </div>


    <br>


    <!-- 소셜 로그인 -->
    <div class="social-login-container">

        <div>
            소셜 로그인
        </div>


        <br>


        <!-- 카카오 로그인 -->
        <div>

            <a th:href="@{/oauth/kakao/login}">
                카카오 로그인
            </a>

        </div>


        <br>


        <!-- 구글 로그인 -->
        <div th:if="${googleLoginEnabled}">

            <div
                    id="g_id_onload"
                    th:attr="data-client_id=${googleClientId}"
                    data-callback="handleGoogleCredentialResponse"
                    data-auto_prompt="false"
            >
            </div>

            <div
                    class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="continue_with"
                    data-size="large"
                    data-logo_alignment="left"
            ></div>

        </div>

        <div th:unless="${googleLoginEnabled}">
            Google 로그인을 사용하려면 GOOGLE_CLIENT_ID 설정이 필요합니다.
        </div>


        <br>


        <div id="socialMessage"></div>

    </div>

</div>


<script>

    const loginForm =
        document.getElementById(
            "loginForm"
        );


    const loginMessage =
        document.getElementById(
            "loginMessage"
        );


    const socialMessage =
        document.getElementById(
            "socialMessage"
        );


    loginForm.addEventListener(
        "submit",
        async function(event)
        {

            event.preventDefault();


            loginMessage.innerText = "";


            const email =
                document.getElementById(
                    "email"
                ).value;


            const password =
                document.getElementById(
                    "password"
                ).value;


            try
            {

                const response =
                    await fetch(
                        "/auth/login",
                        {

                            method: "POST",

                            headers: {

                                "Content-Type":
                                    "application/json"

                            },

                            body: JSON.stringify(
                                {

                                    email: email,

                                    password: password

                                }
                            )

                        }
                    );


                if (!response.ok)
                {

                    loginMessage.innerText =
                        "이메일 또는 비밀번호를 확인해주세요.";

                    return;

                }


                const data =
                    await response.json();


                localStorage.setItem(
                    "accessToken",
                    data.accessToken
                );


                localStorage.setItem(
                    "refreshToken",
                    data.refreshToken
                );


                localStorage.setItem(
                    "userId",
                    data.userId
                );


                localStorage.setItem(
                    "role",
                    data.role
                );


                loginMessage.innerText =
                    "로그인에 성공했습니다.";


                window.location.href =
                    "/home";

            }
            catch (error)
            {

                console.error(
                    "로그인 요청 오류:",
                    error
                );


                loginMessage.innerText =
                    "로그인 처리 중 오류가 발생했습니다.";

            }

        }
    );


    async function handleGoogleCredentialResponse(
        googleResponse
    )
    {

        // credential은 브라우저에서 디코딩해 신뢰하지 않고 서버로 그대로 전달한다.
        // 서버가 Google 공개키와 MeetBack Client ID를 기준으로 유효성을 검증한다.
        socialMessage.innerText =
            "Google 로그인 처리 중입니다.";


        if (
            !googleResponse
            ||
            !googleResponse.credential
        )
        {

            socialMessage.innerText =
                "Google 인증 정보를 받지 못했습니다.";

            return;

        }


        try
        {

            const response =
                await fetch(
                    "/auth/google",
                    {

                        method: "POST",

                        headers: {

                            "Content-Type":
                                "application/json"

                        },

                        body: JSON.stringify(
                            {

                                credential:
                                    googleResponse.credential

                            }
                        )

                    }
                );


            const data =
                await response.json();


            if (!response.ok)
            {

                socialMessage.innerText =
                    data.message
                    ||
                    "Google 로그인에 실패했습니다.";

                return;

            }


            localStorage.setItem(
                "accessToken",
                data.accessToken
            );


            localStorage.setItem(
                "refreshToken",
                data.refreshToken
            );


            localStorage.setItem(
                "userId",
                data.userId
            );


            localStorage.setItem(
                "role",
                data.role
            );


            socialMessage.innerText =
                "Google 로그인에 성공했습니다.";


            window.location.href =
                "/home";

        }
        catch (error)
        {

            console.error(
                "Google 로그인 요청 오류:",
                error
            );


            socialMessage.innerText =
                "Google 로그인 처리 중 오류가 발생했습니다.";

        }

    }

</script>

</body>

</html>
