<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MeetBack 로그인</title>
</head>

<body>

<div class="login-container">

    <h1>MeetBack 로그인</h1>


    <!-- 일반 로그인 -->
    <form id="loginForm">

        <div>
            <label for="email">
                이메일
            </label>

            <input
                    type="email"
                    id="email"
                    placeholder="이메일을 입력하세요"
                    required
            >
        </div>


        <br>


        <div>
            <label for="password">
                비밀번호
            </label>

            <input
                    type="password"
                    id="password"
                    placeholder="비밀번호를 입력하세요"
                    required
            >
        </div>


        <br>


        <div id="loginMessage"></div>


        <br>


        <button type="submit">
            로그인
        </button>

    </form>


    <br>


    <!-- 회원가입 -->
    <div>

        <a th:href="@{/signup}">
            회원가입
        </a>

    </div>


    <br>


    <!-- 소셜 로그인 -->
    <div class="social-login-container">

        <div>
            소셜 로그인
        </div>


        <br>


        <!-- 카카오 로그인 -->
        <div>

            <a th:href="@{/oauth/kakao/login}">
                카카오 로그인
            </a>

        </div>


        <br>


        <!-- 구글 로그인 -->
        <div>

            <button
                    type="button"
                    id="googleLoginButton"
            >
                구글 로그인
            </button>

        </div>


        <br>


        <div id="socialMessage"></div>

    </div>

</div>


<script>

    const loginForm =
        document.getElementById(
            "loginForm"
        );


    const loginMessage =
        document.getElementById(
            "loginMessage"
        );


    const socialMessage =
        document.getElementById(
            "socialMessage"
        );


    const googleLoginButton =
        document.getElementById(
            "googleLoginButton"
        );


    loginForm.addEventListener(
        "submit",
        async function(event)
        {

            event.preventDefault();


            loginMessage.innerText = "";


            const email =
                document.getElementById(
                    "email"
                ).value;


            const password =
                document.getElementById(
                    "password"
                ).value;


            try
            {

                const response =
                    await fetch(
                        "/auth/login",
                        {

                            method: "POST",

                            headers: {

                                "Content-Type":
                                    "application/json"

                            },

                            body: JSON.stringify(
                                {

                                    email: email,

                                    password: password

                                }
                            )

                        }
                    );


                if (!response.ok)
                {

                    loginMessage.innerText =
                        "이메일 또는 비밀번호를 확인해주세요.";

                    return;

                }


                const data =
                    await response.json();


                localStorage.setItem(
                    "accessToken",
                    data.accessToken
                );


                localStorage.setItem(
                    "refreshToken",
                    data.refreshToken
                );


                localStorage.setItem(
                    "userId",
                    data.userId
                );


                localStorage.setItem(
                    "role",
                    data.role
                );


                loginMessage.innerText =
                    "로그인에 성공했습니다.";


                window.location.href =
                    "/home";

            }
            catch (error)
            {

                console.error(
                    "로그인 요청 오류:",
                    error
                );


                loginMessage.innerText =
                    "로그인 처리 중 오류가 발생했습니다.";

            }

        }
    );


    googleLoginButton.addEventListener(
        "click",
        function()
        {

            socialMessage.innerText =
                "구글 로그인은 연결 준비 중입니다.";

        }
    );

</script>

</body>

</html>