<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MeetBack 회원가입</title>

    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body>

<div class="signup-container">

    <h1>MeetBack 회원가입</h1>


    <form id="signupForm">

        <div>
            <label for="email">
                이메일
            </label>

            <input
                    type="email"
                    id="email"
                    placeholder="이메일을 입력하세요"
                    required
            >
        </div>


        <br>


        <div>
            <label for="nickname">
                닉네임
            </label>

            <input
                    type="text"
                    id="nickname"
                    placeholder="닉네임을 입력하세요"
                    required
            >
        </div>


        <br>


        <div>
            <label for="password">
                비밀번호
            </label>

            <input
                    type="password"
                    id="password"
                    placeholder="비밀번호를 입력하세요"
                    required
            >
        </div>


        <br>


        <div id="signupMessage"></div>


        <br>


        <button type="submit">
            회원가입
        </button>

    </form>


    <br>


    <div>
        <a th:href="@{/login}">
            로그인으로 돌아가기
        </a>
    </div>

</div>


<script>

    const signupForm =
        document.getElementById(
            "signupForm"
        );


    const signupMessage =
        document.getElementById(
            "signupMessage"
        );


    signupForm.addEventListener(
        "submit",
        async function(event)
        {

            event.preventDefault();


            signupMessage.innerText = "";


            const email =
                document.getElementById(
                    "email"
                ).value;


            const nickname =
                document.getElementById(
                    "nickname"
                ).value;


            const password =
                document.getElementById(
                    "password"
                ).value;


            try
            {

                const response =
                    await fetch(
                        "/auth/signup",
                        {

                            method: "POST",

                            headers: {
                                "Content-Type": "application/json"
                            },

                            body: JSON.stringify(
                                {
                                    email: email,
                                    nickname: nickname,
                                    password: password
                                }
                            )

                        }
                    );


                if (!response.ok)
                {

                    signupMessage.innerText =
                        "회원가입에 실패했습니다.";

                    return;

                }


                signupMessage.innerText =
                    "회원가입이 완료되었습니다.";


                setTimeout(
                    function()
                    {
                        window.location.href =
                            "/login";
                    },
                    500
                );

            }
            catch (error)
            {

                console.error(
                    "회원가입 요청 오류:",
                    error
                );


                signupMessage.innerText =
                    "회원가입 처리 중 오류가 발생했습니다.";

            }

        }
    );

</script>

</body>

</html>