<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meetback.dev.repository.CandidateReturnResultMapper">

    <insert id="insert"
            parameterType="com.meetback.dev.domain.CandidateReturnResult"
            useGeneratedKeys="true"
            keyProperty="resultId">

        INSERT INTO candidate_return_results (
        meeting_id,
        candidate_id,
        participant_id,
        calculation_version,
        return_minutes,
        transfer_count,
        last_train_departure_at,
        last_train_arrival_at,
        last_safe_departure_at,
        can_return
        )
        VALUES (
        #{meetingId},
        #{candidateId},
        #{participantId},
        #{calculationVersion},
        #{returnMinutes},
        #{transferCount},
        #{lastTrainDepartureAt},
        #{lastTrainArrivalAt},
        #{lastSafeDepartureAt},
        #{canReturn}
        )

    </insert>

    <select id="findByCandidateId"
            resultType="com.meetback.dev.domain.CandidateReturnResult">

        SELECT
            crr.result_id AS resultId,
            crr.meeting_id AS meetingId,
            crr.candidate_id AS candidateId,
            crr.participant_id AS participantId,

            u.nickname AS nickname,

            crr.calculation_version AS calculationVersion,
            crr.return_minutes AS returnMinutes,
            crr.transfer_count AS transferCount,
            crr.last_train_departure_at AS lastTrainDepartureAt,
            crr.last_train_arrival_at AS lastTrainArrivalAt,
            crr.last_safe_departure_at AS lastSafeDepartureAt,
            crr.can_return AS canReturn,
            crr.calculated_at AS calculatedAt

        FROM candidate_return_results crr

        JOIN meeting_participants mp
        ON mp.participant_id = crr.participant_id

        JOIN users u
        ON u.user_id = mp.user_id

        WHERE crr.candidate_id = #{candidateId}

        ORDER BY crr.participant_id ASC

    </select>


    <select id="findByCandidateIdAndVersion"
            resultType="com.meetback.dev.domain.CandidateReturnResult">

        SELECT
            crr.result_id AS resultId,
            crr.meeting_id AS meetingId,
            crr.candidate_id AS candidateId,
            crr.participant_id AS participantId,

            u.nickname AS nickname,

            crr.calculation_version AS calculationVersion,
            crr.return_minutes AS returnMinutes,
            crr.transfer_count AS transferCount,
            crr.last_train_departure_at AS lastTrainDepartureAt,
            crr.last_train_arrival_at AS lastTrainArrivalAt,
            crr.last_safe_departure_at AS lastSafeDepartureAt,
            crr.can_return AS canReturn,
            crr.calculated_at AS calculatedAt

        FROM candidate_return_results crr

        JOIN meeting_participants mp
        ON mp.participant_id = crr.participant_id

        JOIN users u
        ON u.user_id = mp.user_id

        WHERE crr.candidate_id = #{candidateId}
        AND crr.calculation_version = #{calculationVersion}

        ORDER BY crr.participant_id ASC

    </select>

    <delete id="deleteByCandidateId">
        DELETE FROM candidate_return_results
        WHERE candidate_id = #{candidateId}
    </delete>


    <select id="findByCandidateAndParticipantAndVersion"
            resultType="com.meetback.dev.domain.CandidateReturnResult">

        SELECT
        result_id,
        meeting_id,
        candidate_id,
        participant_id,
        calculation_version,
        return_minutes,
        transfer_count,
        last_train_departure_at,
        last_train_arrival_at,
        last_safe_departure_at,
        can_return,
        calculated_at
        FROM candidate_return_results
        WHERE candidate_id = #{candidateId}
        AND participant_id = #{participantId}
        AND calculation_version = #{calculationVersion}
        LIMIT 1

    </select>

    <delete id="deleteByParticipantId">

        DELETE FROM candidate_return_results
        WHERE participant_id = #{participantId}

    </delete>
</mapper>