<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meetback.dev.repository.FeedLikeMapper">

    <!-- 좋아요 등록 -->
    <insert id="insert"
            parameterType="com.meetback.dev.domain.FeedLike">

        INSERT INTO feed_likes
        (
            feed_id,
            user_id,
            created_at
        )
        VALUES
        (
            #{feedId},
            #{userId},
            NOW()
        )

    </insert>


    <!-- 좋아요 취소 -->
    <delete id="delete">

        DELETE FROM feed_likes
        WHERE feed_id = #{feedId}
        AND user_id = #{userId}

    </delete>


    <!-- 특정 피드 좋아요 개수 -->
    <select id="countByFeedId"
            resultType="int">

        SELECT COUNT(*)
        FROM feed_likes
        WHERE feed_id = #{feedId}

    </select>


    <!-- 현재 사용자의 좋아요 여부 -->
    <select id="existsByFeedIdAndUserId"
            resultType="int">

        SELECT COUNT(*)
        FROM feed_likes
        WHERE feed_id = #{feedId}
        AND user_id = #{userId}

    </select>

</mapper>