<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meetback.dev.repository.MeetingMapper">

    <insert id="insertMeeting"
            parameterType="com.meetback.dev.domain.Meeting"
            useGeneratedKeys="true"
            keyProperty="meetingId">

        INSERT INTO meetings (
            host_user_id,
            title,
            meeting_type,
            status,
            desired_end_at,
            calculation_version,
            invite_code
        )
        VALUES (
            #{hostUserId},
            #{title},
            #{meetingType},
            #{status},
            #{desiredEndAt},
            #{calculationVersion},
            #{inviteCode}
        )

    </insert>

    <select id="selectByInviteCode"
            parameterType="string"
            resultType="com.meetback.dev.domain.Meeting">

        SELECT
            meeting_id,
            host_user_id,
            title,
            meeting_type,
            status,
            desired_end_at,
            calculation_version,
            invite_code,
            final_candidate_id,
            created_at,
            updated_at

        FROM meetings

        WHERE invite_code = #{inviteCode}

    </select>

    <update id="updateMeetingStatus">

        UPDATE meetings
        SET status = #{status}
        WHERE meeting_id = #{meetingId}

    </update>

    <select id="findById"
            parameterType="long"
            resultType="com.meetback.dev.domain.Meeting">

        SELECT
            meeting_id,
            host_user_id,
            title,
            meeting_type,
            status,
            desired_end_at,
            calculation_version,
            invite_code,
            final_candidate_id,
            created_at,
            updated_at
        FROM meetings
        WHERE meeting_id = #{meetingId}

    </select>

    <update id="updateCalculationVersion">
        UPDATE meetings
        SET calculation_version = #{calculationVersion},
        updated_at = NOW()
        WHERE meeting_id = #{meetingId}
    </update>

    <update id="updateFinalCandidate">

        UPDATE meetings
        SET
        final_candidate_id = #{candidateId},
        status = #{status}
        WHERE meeting_id = #{meetingId}

    </update>

    <select id="selectMyMeetings"
            parameterType="long"
            resultType="com.meetback.dev.dto.MyMeetingResponse">

        SELECT
        m.meeting_id AS meetingId,
        m.title AS title,
        m.invite_code AS inviteCode
        FROM meeting_participants mp
        JOIN meetings m
        ON m.meeting_id = mp.meeting_id
        WHERE mp.user_id = #{userId}
          AND mp.participant_status = 'ACTIVE'
        ORDER BY m.created_at DESC

    </select>

    <delete id="deleteExpiredMeetings">
        DELETE FROM meetings
        WHERE desired_end_at IS NOT NULL
        AND desired_end_at &lt;= DATE_SUB(NOW(), INTERVAL 24 HOUR)
    </delete>

    <select id="selectQuickVoteMeetings"
            resultType="com.meetback.dev.dto.QuickMeetingResponse">

        SELECT
        m.meeting_id AS meetingId,
        m.title AS title,
        m.invite_code AS inviteCode,
        m.desired_end_at AS desiredEndAt,
        u.nickname AS hostNickname
        FROM meetings m
        JOIN users u
        ON m.host_user_id = u.user_id
        WHERE m.meeting_type = 'QUICK_VOTE'
        AND m.status = 'INPUT_OPEN'
        AND m.desired_end_at IS NOT NULL
        AND m.desired_end_at > NOW()

        <if test="keyword != null and keyword != ''">
            AND m.title LIKE CONCAT('%', #{keyword}, '%')
        </if>

        ORDER BY m.created_at DESC

    </select>
</mapper>
